<!--管理人プロフィールページ-->
<div class="p-2">
  <div class="text-center">
    <%= image_tag "user_image1.jpg" , class:"rounded image_form",id:"icon", width:"130" ,height:"130" %>
  </div>
  <div>
    <small>管理人 => 山田太郎</small></br>
    <small>修行中 => python</small></br>
    <small>ひとこと　=> 管理人の山田太郎です。</small></br>
    <small>Twieeter: @taro.com </small>
  </div>
</div>