
<% if @archives = Eventpost.archives %>
  <div class="bg-black text-white p-1">アーカイブ</div>
  <ul class="list-group list-group-flush text-primary">
       <% @archives.each do |yyyymm, count| %>
       
             <!--カウントと時間のみ表示-->
              <% if Rails.env.production? %>
                <% yyyymm= year_month(yyyymm) %>
                <%= link_to "#{yyyymm[0]}年#{yyyymm[1]}月 (#{count})", archive_path(yyyymm[2]), class:"list-group-item p-1" %>
              <% else %>
                 <%= link_to ymconv(yyyymm, count.to_s)+"test", archive_path(yyyymm), class:"list-group-item p-1" %>
              <% end %>
       <% end %>
  </ul>     
<% end %>

  <!--# アーカイブ出力結果-->
  <!--# 時間[2019.0, 5.0]-->
  <!--# カウント5-->