<!--アンテナサイト-->
<div class="bg-black p-2 text-white">アンテナサイト</div>
<div class="mb-3">
  <ul class="list-group text-dark mt-2">
    <li><a href="http://matome-plus.com/" class="text-dark">まとめサイト速報+</a></li>
    <li><a href="http://2ch-c.net/" class="text-dark">しぃアンテナ(*ﾟーﾟ)</a></li>
    <li><a href="http://newmofu.doorblog.jp/" class="text-dark">にゅーもふ</a></li>
    <li><a href="http://matomeantena.com/" class="text-dark">ワロタあんてな</a></li>
    <li><a href="http://moudamepo.com/" class="text-dark">だめぽアンテナ</a></li>
    <li><a href="http://owata.chann.net/" class="text-dark">オワタあんてな</a></li>
  </ul>
</div>
<!--ブログランキング-->
<div class="bg-black p-2 text-white">ブログランキング</div>
<div class="mb-3">
  <ul class="list-group text-dark mt-2">
    <li><a href="http://news4vip.livedoor.biz/" class="text-dark">ニュー速</a></li>
    <li><a href="http://blog.livedoor.jp/dqnplus/" class="text-dark">痛いニュース</a></li>
    <li><a href="http://karukantimes.com/" class="text-dark">かるかんタイムズ</a></li>
    <li><a href="http://burusoku-vip.com/" class="text-dark">ぶる速-VIP</a></li>
    <li><a href="http://science-2ch.net//" class="text-dark">博士ちゃんねる</a></li>
    <li><a href="http://itaishinja.com/" class="text-dark">いたしん！</a></li>
  </ul>
</div>


