<div class=" p-1">
  <div class=" border-black">
    <!--// 画像があるときは画像を表示する-->
    <%# if user.image.present? %>
      <%#= image_tag(user.image.url , class:"image_form rounded-circle" ,id:"icon") %>
    <%# else %>
      <%= image_tag("user_image.jpg" , class:"image_form" ,id:"icon", width:"130" ,height:"80") %>
    <%# end %>
    
    <div class="bg-black">
      <small class="text-white">これはテスト記事</small>
    </div>
  </div>
</div>