<!--ヘッドラインページ-->
<div class="p-1" id="headline" >
  <ul class="list-group list-group-flush text-primary">
    <li class="list-group-item p-0"><a href="#">タンクローリーの信号無視！タンクローリーが事故ったら本当に危険ですよ？...<b class="text-danger">new</b></a></li>
    <li class="list-group-item p-0"><a href="#">【動画】菅官房長官、キレる...望月記者「令和選定には、一億総活躍を体...</a></li>
    <li class="list-group-item p-0"><a href="#">【画像あり】姉とか妹に興奮しないとか言ってるやつｗｗｗｗｗｗｗｗｗｗｗ</a></li>
    <li class="list-group-item p-0"><a href="#">【朗報】日本マクドナルドさん、遂に本気を出す ！！！！</a></li>
    <li class="list-group-item p-0"><a href="#">【正論】加藤純一「ブスを叩いてもデメリットがない。美人もブス嫌いだし味...</a></li>
    <li class="list-group-item p-0"><a href="#">【正論】加藤純一「ブスを叩いてもデメリットがない。美人もブス嫌いだし味...</a></li>
    <li class="list-group-item p-0"><a href="#">【画像】中国の女子プロゲーマーチームがすごすぎる件</a></li>
    <li class="list-group-item p-0"><a href="#">MVNOへの顧客流出によって、携帯大手3キャリアの業績が悪化</a></li>
    <li class="list-group-item p-0"><a href="#">トランプ米大統領の食糧支援支持　ホワイトハウスの声明にはなかった他</a></li>
    <li class="list-group-item p-0"><a href="#">トランプ米大統領の食糧支援支持　ホワイトハウスの声明にはなかった他</a></li>
    <li class="list-group-item p-0"><a href="#">トランプ米大統領の食糧支援支持　ホワイトハウスの声明にはなかった他</a></li>
    <li class="list-group-item p-0"><a href="#">トランプ米大統領の食糧支援支持　ホワイトハウスの声明にはなかった他</a></li>
    <li class="list-group-item p-0"><a href="#">トランプ米大統領の食糧支援支持　ホワイトハウスの声明にはなかった他</a></li>
  </ul>
</div>
<style>
  #headline{
    border: 2px solid gray; 
    height: 300px; 
    overflow-y: scroll;
    }
</style>