<!--ヘッドラインページ-->
<div class="p-0" id="headline" >
<div class="ninja-recommend-block" id="da9dfd662d14bd2085c65bfa2f8cbb4d">
<script type="text/javascript" charset="utf-8" src="//rcm.shinobi.jp/js/imp.js"></script>
<script type="text/javascript" charset="utf-8" src="//rcm.shinobi.jp/r/da9dfd662d14bd2085c65bfa2f8cbb4d" async></script>
</div>



</div>
<style>
  #headline{
    border: 2px solid gray; 
    height: 300px; 
    overflow-y: scroll;
    }
</style>