<div class="bg-black text-white p-1">記事の検索</div>

<!--検索フォーム-->
<%= form_tag(eventpost_search_path,:method => 'get' , class:"", id:"search") do %>
   <%= text_field_tag :search ,:"", class: "text-muted border p-1 w-100", placeholder: "検索"%>
   <%#= submit_tag 'Search', :name => nil %>
<% end %>