<!--いいねボタン-->
  <%= form_for(@post.likes.build ,class:"", remote: true) do |f| %>
    <%= hidden_field_tag :id, @post.id %>
       <%= button_tag(class: "btn  p-0 w-100") do %>
        <div  class=" p-3 rounded-pill text-center bg-heart w-100" id="like">
           <i class="far fa-heart text-dager" id="like"> <%= @post.likes.count %></i>
        </div>  
      <% end %>
  <% end %>

<!--form_fornなし-->
<%#= link_to  like_path(@like) ,class:"text-danger", method: :post do %>
 <!--<i class="far fa-heart"> <%#= post.likes.count %></i>-->
<%# end %>
