<!--いいね削除ボタン-->
<%= link_to like_path(@like) ,class:"text-danger  btn p-0 w-100", method: :delete , remote: true do%>
    <div  class=" p-3 rounded-pill text-center " id="unlike">
        <i class="far fa-heart"  > <%= @post.likes.count %></i>
    </div>
<% end %>