<div class="border p-3">
  <div>
    <h5><b>自分の棚</b></h5>
  </div>
  
  <div>
    <p>検索</p>
  </div>

  
  <div>
    <!--@user.likes.count-->
    <%= link_to "お気に入り #{@user.likes.count }", like_path(@user), class:"text-danger" %></br>
    
    <!--@user.count.count-->
    <%= link_to "コメント #{@user.comments.count }", comment_path(@user) , class:"text-success" %></br>
    
    <%= link_to "メッセージ", "#", class:"text-dark" %></br>
    
    <!--自分が保存したロケーションの数-->
    <%= link_to "おすすめスポット", "#", class:"text-dark" %></br>
  </div>
</div>