<div class="media2">
  <!--<img src="..." class="align-self-start mr-3" alt="...">-->
  <div class="media-body1">
    <h5 class="mt-0"><b><%= user.name %></b> <span>user_id:<%= user.id %></span></h5>
    <p>email:<%= user.email %></p>
    <p>password:<%= user.password %></p>
  </div> 
</div>