<!--ステータスバー-->
<div class="p-1" >
  <!--<h1>ユーザープロフィール</h1>-->
  <small class="">鉄オタ速報</small>
  <small>-</small>
  <small><%= controller_name %></small>
  <small>-</small>
  <small><b><%= action_name %></b></small>
</div>