<div class=" " >
  <div>
    <div class=" p-3 rounded-pill text-center" id="bg-heart" >
      <i class="fa fa-heart"> 226</i>
    </div>
    
    <div class="mt-3 p-3 rounded-pill border">
      <i class="fas fa-bullseye w-50">  26</i> 
      <i class="far fa-comment border-left "><b>35</b>  </i>
    </div>
  </div>
</div>