<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<div class="row"> 
    <div class="col-3 ">
      <p class="border-bottom">ユーザー詳細</p>
      
      <% if @user %>
          <!--ユーザープロフィール-->
          <%= render @user %>
          
          <!--ユーザーステータス--> 
          <p class="border-bottom">ユーザーリンク</p>
          <%= render "users/user_status" %>
      <% end %>
      
      <p>最新の記事</p>
      
    </div>
    
    <div class="col-9 border-bottom">
      <p  class="border-bottom">写真一覧</p>
      
      <%= render @posts %>
      <%= paginate  @posts, window: 2 %>
    </div>
</div>