/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*基本背景色*/
.bg-black{
   background-color: black; 
  }
  
.border-black{
  border: 3px solid black;
  }
  
/*カスタム*/
#link-image:hover{
  opacity: 0.7;
  }
  
/*リンクボタン(下線削除)*/
#link-decoration{
  text-decoration: none;
  }
a{
  text-decoration: none;
  }
  
  
/*Likeボタン*/
.bg-heart{
  color: red; 
  border:solid 1px red; 
  border-radius: 50px;
}
.bg-heart:hover{
 background-color: red; 
 color: white;
}
  
#like:hover{
  background-color: red;
  opacity: 0.7;
  color: white;
  }
  
#unlike{
  background-color: red;
  opacity: 0.7;
  color: white;
  }
#unlike:hover{
  background-color: gray;
  opacity: 0.5;
  }

/*border*/

/*見出し線  */
.border-left-insert{
  border-left: inset 5px black;
}

/*点線*/
.border-top-dashed{
  border-top: dashed 1px gray;
  }
  
  /*点線*/
.border-bottom-dashed2{
  border-bottom: dashed 1px gray;
  }
  
#mane-bar:hover{
  /*background-color: whitesmoke;*/
  /*border-right: inset 5px #78B9FF;*/
   /*box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);*/
   text-decoration: underline;
  }
  
.text-dodgerblue{
  /*color: dodgerblue; */
  color: #FFA07A;
  opacity: 0.4;
  }
  
  .text-orangered{
  /*color: orangered;  */
    /*color: #E1E3E4;*/
  color: black;
  opacity: 0.4;
  }
  
  .text-mediumseagreen{
  /*color: mediumseagreen;   */
    color: #FF407A;
  opacity: 0.4;
  }
  
  .text-deeppink{
  /*color: deeppink;   */
    color: #F4405D;
  opacity: 0.4;
  }
  
  .text-darkorchid {
  color: darkorchid ; 
    color: #F4705D;
  opacity: 0.4;
  }
  
  
  /*入力フォーム*/
#search-form{
  font-size: 40px;
  height: 60px;
  outline: none;
  border: 5px solid white; 
  }
#search-btn{
  height: 60px;
  }