
<div class="bg-black text-white p-1 mt-3">カテゴリー</div>

<% if @categorys = Category.categorys %>
  <ul class="list-group list-group-flush text-primary">
    <% @categorys.each do |category, count| %>
      <%= link_to "#{category[1] }(#{count})", category_path(category[0]) , class:"list-group-item p-1" %>
    <% end %>
  </ul>
<% end %>

