
<footer class="bg-black pt-3 pb-5 mt-5">
  <div class="container">
    <!--newsまとめもりー。。参考-->
    
    <div class="row text-white"> 
      <div class="col-4 ">
        <div>
          <p><b>About</b></p>
          <small>当サイトについて</br>鉄オタ速報は2ちゃんねるまとめサイトです。芸能人の噂・事
          件など世間で話題のニュースなどをまとめています。話題のニュースがない時はVIPな
          どからおもしろネタをまとめています。</br>
          
          免責事項</br>
          当サイトで掲載している画像の著作権・肖像権等は各権利所有者に帰属致します。権利を侵害する目
          的ではございません。記事の内容や掲載画像等に問題がございましたら、各権利所有者様本人が直
          接メールでご連絡下さい。確認後、対応させて頂きます。</small>
        </div>
      </div>
      
      <div class="col-4">
        <div>
          <p><b>週間アクセスランキング(PC+SP)</b></p>
          
          <ul>
          -	サイト
            PR	
            <li>spanlivedoor Blog</li>
            <li>ワロタあんてな（・∀・）</li>
            <li>にゅーもふ/li>
            <li>オワタあんてな</li>
            <li>だめぽアンテナ</li>
            <li>livedoor</li>
            <li>ヌルポあんてな(ﾟДﾟ)</li>
          </ul>
        </div>
      </div>
      
      <div class="col-4 ">
        <p><b>相互サイト</b></p>
         <ul>
           <li>SmartNews</li>
           <li>まとめサイト速報+</li>
           <li>しぃアンテナ(*ﾟーﾟ)</li>
           <li>にゅーもふ</li>
           <li>ワロタあんてな</li>
           <li>だめぽアンテナ</li>
           <li>オワタあんてな</li>
           <li>News人</li>
           <li>  <!--はてなブックマーク！ボタン-->
        <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic" 
        title="このエントリーをはてなブックマークに追加">
        <img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" 
        alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
        <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </li>
           <li>
        <!--ツイッターボタン-->
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>
           <li>
        <!--facebookいいねボタン-->
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=69&height=20&appId"
        width="69" height="20" style="border:none;overflow:hidden" scrolling="no" 
        frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></li>
           
    
      
         </ul>
        
      </div>
  </div>

  </div>
</footer>