
<footer class="border-top p-3">
  <div class="container">
    
    <p>フッター</p>   
    <p>session : <%= session[:user_id] %></p>
    <p>クッキーID : <%= cookies.signed[:user_id] %></p>
    <p>クッキートークン : <%= cookies[:token] %></p>

  </div>
</footer>