
<footer class="bg-black pt-3 pb-5 mt-5">
  <div class="container">
    <!--newsまとめもりー。。参考-->
    
    <div class="row text-white"> 
      <div class="col-4 ">
        <div>
          <p><b>About</b></p>
          <small>当サイトについて</br>NEWSまとめもりーは2ちゃんねるまとめサイトです。芸能人の噂・事
          件など世間で話題のニュースなどをまとめています。話題のニュースがない時はVIPな
          どからおもしろネタをまとめています。</br>
          
          免責事項</br>
          当サイトで掲載している画像の著作権・肖像権等は各権利所有者に帰属致します。権利を侵害する目
          的ではございません。記事の内容や掲載画像等に問題がございましたら、各権利所有者様本人が直
          接メールでご連絡下さい。確認後、対応させて頂きます。</small>
        </div>
      </div>
      
      <div class="col-4">
        <div>
          <p><b>週間アクセスランキング(PC+SP)</b></p>
          
          <ul>
          -	サイト
            PR	
            <li>spanlivedoor Blog</li>
            <li>ワロタあんてな（・∀・）</li>
            <li>にゅーもふ/li>
            <li>オワタあんてな</li>
            <li>だめぽアンテナ</li>
            <li>livedoor</li>
            <li>ヌルポあんてな(ﾟДﾟ)</li>
            <li>ぶろにゅー</li>
            <li>しぃアンテナ(*ﾟーﾟ)</li>
            <li>ギコにゅー(ﾟДﾟ)</li>
            <li>PR	【まつげ長ぁぁぁい】医者が開発したまつげ専用美...</li>
          </ul>
        </div>
      </div>
      
      <div class="col-4 ">
        <p><b>相互サイト</b></p>
         <ul>
           <li>SmartNews</li>
           <li>まとめサイト速報+</li>
           <li>しぃアンテナ(*ﾟーﾟ)</li>
           <li>にゅーもふ</li>
           <li>ワロタあんてな</li>
           <li>だめぽアンテナ</li>
           <li>オワタあんてな</li>
           <li>News人</li>
           <li>ぶろにゅー</li>
           <li>ニュー速</li>
           <li>ハリコのとら</li>
           <li>激安特価板ブログ</li>
         </ul>
        
      </div>
  </div>

  </div>
</footer>