<div class=" mt-2">
 <div class="container ">
    <nav class="nav p-2 bg-black">
        <b><%= link_to "トップページ", "#" ,class:"nav-link text-white" %></b>
        <b><%= link_to "写真スポット", "#" ,class:"nav-link text-white" %></b>               
        <b><%= link_to "開発者ブログ", "#" ,class:"nav-link text-white" %></b>
        <b><%= link_to "みんなの写真館", posts_path ,class:"nav-link text-white" %></b>     
    </nav>
  </div>
</div>