<div class="">
 <div class="container ">
    <nav class="nav bg-dark p-2">
          <%= link_to "トップページ", "#" ,class:"nav-link" %>
          <%= link_to "写真スポット", "#" ,class:"nav-link" %>               
          <%= link_to "開発者ブログ", "#" ,class:"nav-link" %>
          <%= link_to "みんなの写真館", "#" ,class:"nav-link" %>      
    </nav>
  </div>
</div>